body {
  background-color: #0C0B19; /* Background color for the entire page */
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* Ensure navbar links are still visible */
}

.navbar-dark .navbar-toggler {
  background-color: #0C0B19; /* Ensure the navbar toggler matches the background */
}

.navbar-brand {
  margin-left: 85px;
  font-weight: bold;
  color: #00bcd4;
}

.navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

.nav-link {
  color: #ffffff !important;
  margin-right: 20px;
}

.nav-profile img {
  height: 30px;
  border-radius: 50%;
}

.container h1, .container h2 {
  color: #00bcd4;
  font-weight: bold;
}

.container .lead, .card-text {
  color: #b0bec5;
}

.app-preview {
  max-width: 70%;
  height: 50%;
}

.gambar2 {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

footer {
  background-color: #0C0B19; /* Background color for the footer */
  bottom: 0;
  width: 100%;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.card {
  border: none;
  border-radius: 15px;
  background-color: #0C0B19 !important; /* Custom background color for cards */
}

.card img {
  border-radius: 15px;
}

/* Additional rules for section 1 */
.section-1-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Pindahkan ke kiri */
  text-align: left; /* Pindahkan ke kiri */
}

.app-preview {
  max-width: 40%; /* Sesuaikan persentase ini sesuai kebutuhan */
  height: 50%;
}


